[Unit]
Description=DOMAIN
ConditionPathExists=RELAY_PATH
After=network.target

[Service]
Type=simple
User=USERNAME
Group=USERNAME
WorkingDirectory=RELAY_PATH
ExecStart=RELAY_PATH/triflector
Restart=always
RuntimeMaxSec=3600
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RELAY_SERVICE

[Install]
WantedBy=multi-user.target
