[Unit]
Description=relay.SUBDOMAIN.coracle.tools
ConditionPathExists=/home/SUBDOMAIN/triflector
After=network.target

[Service]
Type=simple
User=SUBDOMAIN
Group=SUBDOMAIN
WorkingDirectory=/home/SUBDOMAIN/triflector
ExecStart=/home/SUBDOMAIN/triflector/triflector
Restart=always
RuntimeMaxSec=3600
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SUBDOMAIN-relay

[Install]
WantedBy=multi-user.target
